<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Health Sure</title>
</head>
<body>
    <h1>
        Welcome to Health Sure, <%= username %>!
    </h1>
    <p>
        We're exicted to have you on board. Start connecting with friends and sharing your moments today!
    </p>
</body>
</html>